.fancy-header {
  font-family: Courier;
  font-size: 84px;
  color: #ff6347;
  text-align: center;
  margin: 10px 0;
}

.fancy-header-small {
  font-family: Courier;
  font-size: 40px;
  color: #ff6347;
  text-align: center;
  margin: 20px 0;
}

.App {
  text-align: center;
  background-color: #282c34;
}

.App-nav {
  background-color: #282c34;
  padding: 10px 0;
}

.App-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.App-nav ul li {
  margin:0 150px;
  color: white !important;
  text-decoration: none;
  font-size: 25px;
}

.App-nav ul li a {
  color: white !important;
}

.App-nav ul li a:visited {
  color: white !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: Courier;
  color: white;
  margin-bottom: 200px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Timer-pos {
  color: white !important; /* Ensure the color is overridden even if other styles are present */
}

.Timer-neg {
  color:red !important;
}
